@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #7a7a7a;
  font-family: 'poppins' sans-serif;
  font-weight: 500;
}
.nav a:hover
{
  color:#6C63FF;
  transition: all 0.3s ease-in;
}
.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-top:1.5vh;
  width: 100%;
  overflow-x: hidden !important;
  align-items: center;
  min-height: 12vh;
  /* background-color: #e9c1c1; */
  font-family: 'Poppins', sans-serif;
  transition: 0.6s;
  z-index: 999;

}
.nav.active
{
  box-shadow: 0px 0px 10px 1px grey;
  background:#f7f7f7;
}

.nav__brand h3{
  margin-left: 50px;
  /* margin-left: -40%; */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 30px;
  transition: 0.6s;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20%;
  background: #f7f7f7;

}
.nav__link
{
  margin-top:1vh;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}
@media screen and (max-width: 1044px)
{
  .nav__menu
  {
    margin-left: 18%;
  }
}
@media screen and (max-width: 400px)
{
  .nav__brand h3{
    margin-left: 60%;
  }
}
@media screen and (max-width: 922px) {
  .nav a:hover
{
  color:rgb(65, 53, 53);
}
  .nav__toggler {
    display: block;
    cursor: pointer;
    margin-right: -10%;
    margin-top: -1vh;
  }
  .nav__brand h3{
   /* margin-top: -1.6vh;  */
  }
  .nav__item a 
  {
    color: rgb(65, 53, 53);
  }
  
  .nav__menu {
    position: fixed;
    top: 0vh;
    right: 0;
    height: 100vh;
    width: 60% !important;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    
   
  }
  .nav
  {
    justify-content: space-around;
    min-height: 10vh;
  }
  
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
  background: rgb(65, 53, 53);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
  background: rgb(65, 53, 53);
}